/nbproject/private/
/Analisis/MiPrimerProyecto/nbproject/private/
/Analisis/ejercicios php/nbproject/private/
/Analisis/ejercicios php/point31/nbproject/private/
/planeacion/ejercicios php/nbproject/private/
/planeacion/ejercicios php/point31/nbproject/private/
/MiPrimerProyecto/nbproject/private/
/MiPrimerProyecto/MiPrimerProyecto/nbproject/private/
/Analisis/MiPrimerProyecto/MiPrimerProyecto/nbproject/private/
/Analisis/MiPrimerProyecto/nbproject/private/
