/nbproject/private/
/MiPrimerProyecto/nbproject/private/
/MiPrimerProyecto/MiPrimerProyecto/nbproject/private/
/Analisis/MiPrimerProyecto/MiPrimerProyecto/nbproject/private/
/Analisis/MiPrimerProyecto/nbproject/private/